.user-picture {
    padding: 1%;
    height: 30%;
    width: 30%;
}

.buttons-section {
    float:left;
    width: 68%;
}



.buttons-section div {
    float: left;
    background-color: rgb(176, 231, 184);
    font-size: 12px;
    padding: 7px 0 5px 0;
    height: 16px;
    margin: -3px 0 0 15px;
    width: 40%;
    text-align: center;
    color: rgb(85, 84, 84);
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

.buttons-section div.active {
    background-color: rgb(130, 192, 141);;
}

.profile-header {
    overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background: rgb(229, 245, 245);
}

.app-page.detailedView-page .item-text {
    height: 50px;
    width: 53%;
}

#user-info {
    float: left;
    width: 66%;
    margin: 1%;
}
