.header {
    overflow: auto;
    border-bottom: 1px solid #AFAFAF;
    background-color: #D4E6DD;
}

.border {
    border-right: 1px solid #AFAFAF;
}

.summary {
    float: left;
    width: 33.12%;
    background-color: #D4E6DD;
}

.title {
    text-align: center;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(95, 93, 93);
    padding-top: 4px;
}

.amount-owed {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 2px;
}

.positive {
    color: #47A295;
}

.negative {
    color: #E0593B;
}

.tab {
    height: 63px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.tab.active {
    background-color: lightgray;
}

.tab-section {
    overflow: auto;
}

.user-thumbnail {
    padding: 5px;
    height: 50px;
    width: 50px;
}

.app-page.home-page .item-text {
    height: 53px;
    width: 53%;
}

.large {
    font-size: 17px;
    font-weight: 400;
}