.user-picture {
    padding: 1%;
    height: 30%;
    width: 30%;
}

.profile-header .buttons-section {
    float:left;
    width: 68%;
}

#individual-tab {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-left: 3px;
}

.profile-header {
    overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background: rgb(229, 245, 245);
}

#individual-tab .item-text {
    height: 40px;
    width: 53%;
}

#individual-tab .amount-info {
    height: 40px;
}

#user-info .item-text {
    height: 50px;
    width: 53%;
}

#user-info {
    float: left;
    width: 66%;
    margin: 1%;
}

.app-page.detailedView-page .amount-info{
    width: 28%;
}
