.pic {
    float: left;
    text-align: center;
    -webkit-border-radius: 160px;
    border-radius: 60%;
}

.item {
    height: 63px;
}

.item-text {
    float: left;
    padding: 5px;
}

.text-label {
    height: 55%;
    position: relative;
}

.text-label span {
    position: absolute;
    bottom: 0;
    left: 0;
}

.detail-text-label {
    position: relative;
    height: 45%;
    font-size: 13px;
    font-weight: 200;
}

.detail-text-label span {
    position: absolute;
    top: 0;
    left: 0;
}

.amount-info {
    float: right;
    padding: 5px;
    height: 53px;
    width: 20%;
}

.amount-info .text {
    height: 55%;
    position: relative;
}

.amount-info .text span {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.amount-info .amount-owed {
    height: 45%;
    position: relative;
}

.amount-info .amount-owed span {
    position: absolute;
    top: 0;
    right: 0;
}

.app-ios .app-topbar .app-button.right.add {
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
}

.app-android .app-topbar .app-button.right.add {
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
}

.app-topbar .app-title {
    text-align: center;
    letter-spacing: 7px;
    padding-left: 9px;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
}

.app-topbar {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #49BBDF;
}

.kevin-button {
    background-color: rgb(176, 231, 184);
    font-size: 12px;
    height: 16px;
    text-align: center;
    color: rgb(85, 84, 84);
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

.kevin-button.active {
    background-color: rgb(130, 192, 141);
}

.kevin-button.two {
    float: left;
    margin: -3px 0 0 15px;
    padding: 7px 0 5px 0;
    width: 40%;
}
